# Install with "python -m pip install -r requirements.txt".

# used by the cocrawler system
aiohttp==0.22.5
aiodns==1.1.1
pyyaml==3.12
cchardet==1.0.0
surt==0.3.0
robotexclusionrulesparser==1.7.1
cachetools==1.1.6
pluginbase==0.4
filemagic==1.6
tldextract==2.0.1
sortedcontainers==1.5.3
psutil==4.3.1

# used to maintain this file
pur==4.0.0

# used by the mock webserver
bottle==0.12.9
gevent==1.1.2

# used by Makefile
coverage==4.2
pylint==1.6.4
pytest==3.0.2
pytest-cov==2.3.1
coveralls==1.1
